<nav class="header__nav">
    <div class="container">
        <a href="#header" class="header__logo"><img src="./img/logo.svg" alt=""><span>MAVIC 2 PRO</span></a>
        <div class="header__menu">
            <span class="header__menu-line"></span>
        </div>
        <ul class="header__list">
            <li class="header__item">
                <a href="#info" class="header__link">О ДРОНЕ</a>
            </li>
            <li class="header__item">
                <a href="#advantages" class="header__link">ПРЕИМУЩЕСТВА</a>
            </li>
            <li class="header__item">
                <a href="#!" class="header__link">ХАРАКТЕРИСТИКИ</a>
            </li>
            <li class="header__item">
                <a href="#!" class="header__link">КОНТАКТЫ</a>
            </li>
        </ul>
        <div class="header__contact">
            <a href="#!" class="header__buy">КУПИТЬ</a>
            <a href="tel:80505676767" class="header__call">8 (050) 567 67 67</a>
        </div>
    </div>
</nav>